body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
  height: 75%;
  min-height: 450px;
  width: 50%;
  min-width: 300px;
  border: 5px rgb(119, 119, 119) solid;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 12%;
  min-height: 30px;
  flex: auto;
}

.innerDisplay {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  background-color: rgb(230, 230, 230);
  flex: 0 0 95%;
  min-width: 250px;
  height: 80%;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}

.output {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 18px;
  min-width: 18px;
  font-size: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  flex: 0 1 88%;
  min-height: 400px;
  gap: 3px;
  margin: 8px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 24%;
  background-color: rgb(247, 247, 247);
  font-size: 22px;
  border: none;
  padding: 0;
  row-gap: 2px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  transition-duration: 0.3s;
}

.button:hover {
  background-color: rgb(237, 237, 237);
}

button:active {
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2) inset;
}

.button.op {
  background-color: rgb(230, 230, 230);
}

.button.op:hover {
  background-color: rgb(220, 220, 220);
}

#equals {
  color: white;
  background-color: rgb(71, 71, 207);
}

#equals:hover {
  background-color: rgb(61, 61, 197);
}